*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns:repeat(5, 50px);
    grid-template-rows:repeat(3,100px);
}

.item-1{
    background-color: rgb(55, 190, 190);
}
.item-2{
    background-color: red;

}
.item-3{
    background-color: black;

}