*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns:repeat(5, 50px);
    grid-template-rows:repeat(3,100px);
}

.item-1{
    background-color: rgb(55, 190, 190);
    grid-row: 1/4;
}
.item-2{
    background-color: red;
    grid-row: 1/4;
}
.item-3{
    background-color: black;
    grid-row: 1/4;

}
.item-4{
    background-color: rgb(21, 47, 196);
    grid-row: 4/3;

}