*{
    margin: 0;
    padding: 0;
}
.quadrado{
    height: 200px;
    width: 200px;
    background-color: green;
    border: 1px black solid;
    margin: 20px;
    box-sizing: border-box;
}

#container{
    background-color: black;
    height: 600px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}
header{
    background-color: red;
    display: flex;
    justify-content: space-around;
    
}
img{
    width: 200px;
    height: 200px;
}
button{
    width: 110px;
    height: 20px;
}
h2{
    color: white;
}
